/* src/components/Hero.css */
.hero {
  background: url("https://via.placeholder.com/1500x500") no-repeat center
    center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 150px 0;
}
